###############
# C# Settings #
###############

[*cs]
indent_style = tab
indent_size = tab
tab_size = 2

dotnet_sort_system_directives_first = true

dotnet_style_prefer_is_null_check_over_reference_equality_method = true:error

csharp_style_var_for_built_in_types = true:error
csharp_style_var_when_type_is_apparent = true:error

csharp_style_prefer_not_pattern = true:error

csharp_prefer_braces = true:error

dotnet_diagnostic.CA1050.severity = none  # can declare types outside namespaces
dotnet_diagnostic.IDE0002.severity = none  # don't simplify class member access

dotnet_style_qualification_for_field = true:error
dotnet_style_qualification_for_property = true:error
dotnet_style_qualification_for_method = true:error
dotnet_style_qualification_for_event = true:error

dotnet_style_require_accessibility_modifiers = for_non_interface_members:error

dotnet_style_readonly_field = true:error

csharp_new_line_before_open_brace = false:error

csharp_new_line_before_members_in_anonymous_types = true:error
